<!DOCTYPE html>
<html>
  <head>
    <title>Blogpost</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container-fluid">

  <%= render 'layouts/navbar' %>
<div class="container main">
    <%= yield %>

    </div>
    </div>
  </body>
</html>
